@{
    ViewData["Title"] = "Home Page";
    // memanggil layout dari folder shared
    //Layout = "_LayoutLatihan";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@*<h2 id="j" class="judul">ini judul</h2>*@

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>
                    